* {
    margin: 10px auto;
}

.hading {
    text-align: center;
    margin: 20px;
    color:lightcoral;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

td {
    font-size: large;
}

th {
    background-color: lightcoral;
    color: whitesmoke;
    font-size: larger;
}

.menu tr:nth-child(odd) {
    background-color: lightblue;
}

button {
    border: none;
    background-color: palevioletred;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}


.card {
    background: white;
    border-radius: 10px;
    margin: 0 10px;
    width: 180px;
    border: 1px solid #ccc;
}

.header {
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.fruits .header {
    background: linear-gradient(135deg, #c36c4a, #39dc67);
}

.vegetables .header {
    background: linear-gradient(135deg, #673AB7, #03A9F4);
}

.groceries .header {
    background: linear-gradient(135deg, #E91E63, #FF9800);
}

.list-group {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.orderd li {
    padding-left: 30px;
}

.listOne li {
    list-style: square;
    padding-left: 30px;
}

.listTwo li {
    list-style: disc;
    padding-left: 30px;
}


.fruits ul {
    counter-reset: fruit-counter;
}


